.ericPhoto {
  width: 300px;
  border-radius: 50%;
  margin-left: 350px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="ericPhoto"] {
    width: 50%;
    margin: auto;
  }
}
