.Portfolio {
  background-color: burlywood;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.titlePortfolio {
  margin-top: 20px;
  color: white;
  font-size: 60px;
  margin-bottom: 0;
}
.container-info {
  background-color: burlywood;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.expoPortfolio {
  padding-top: 50px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 180px;
  grid-row-gap: 75px;
}
