.Portfolio {
  background-color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 50px;
}
.titlePortfolio {
  color: #ffc44e;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 10px 25px;
}

.container-info {
  background-color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.expoPortfolio {
  padding-top: 50px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 180px;
  grid-row-gap: 75px;
}
