.Portfolio {
  background-color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 50px;
}
.titlePortfolio {
  color: #ffc44e;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 10px 25px;
}

.container-info {
  background-color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}
.expoPortfolio {
  padding-top: 50px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 220px;
  grid-row-gap: 75px;
}
@media only screen and (max-width: 1366px) {
  /* For mobile phones: */
  [class*="expoPortfolio"] {
    grid-template-columns: 200px 200px;
  }
}
@media only screen and (max-width: 1200px) {
  [class*="expoPortfolio"] {
    grid-template-columns: 200px 200px;
    justify-content: center;
    margin-right: auto;
  }
  [class*="container-info"] {
    margin-right: 30px;
    display: flex;
  }
}
@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  [class*="expoPortfolio"] {
    grid-template-columns: 200px 200px;
  }
}
@media only screen and (max-width: 992px) {
  /* For mobile phones: */
  [class*="expoPortfolio"] {
    grid-template-columns: 200px 200px;
    justify-content: center;
    margin-right: 80px;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="Portfolio"] {
    font-size: 20px;
    padding-bottom: 10px;
  }
  [class*="titlePortfolio"] {
    padding-bottom: 20px;
    font-size: 50px;
    color: #ffc44e;
    border-radius: 15px;
    box-shadow: 5px 10px 25px;
    margin: auto;
  }

  [class*="expoPortfolio"] {
    grid-template-columns: 200px;
    grid-column-gap: 180px;
    grid-row-gap: 75px;
    margin-right: 70px;
  }
  [class*="container-info"] {
    margin-right: 30px;
  }
}
