.Profile-Container {
  display: flex;
  margin: auto;
  margin-bottom: 50px;
}
.iam {
  font-size: 60px;
  width: 1200px;
  text-align: center;
  margin-bottom: 10px;
  color: #ffc44e;
  padding: 10px;
  box-shadow: 5px 10px 25px #ffc44e;
  border-radius: 15px;
}
.Foto {
  padding: 70px;
}
.FotoEric {
  border-radius: 15px;
  border-style: none;
}

.cvs-container {
  margin-bottom: 100px;
}
.myCV-download {
  margin: auto;
  text-decoration: none;
}
a.myCV-download {
  margin-right: 200px;
}
.imgdwnlCV {
  border-radius: 10px;
}
.imgdwnlCV:hover {
  background: url("/hoverdownload.png");
  opacity: 0.5;
}
.dwnlCV {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="Profile-Container"] {
    width: 100%;
    display: block;
  }
  [class*="iam"] {
    width: 95%;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-size: 50px;
  }
  [class*="Foto"] {
    width: 100%;
  }
  [class*="FotoEric"] {
    width: 100%;
  }
  [class*="cvs-container"] {
    width: 100%;
    margin-bottom: 30px;
  }
  [class*="myCV-download"] {
    width: 100%;
  }
  a.myCV-download {
    width: 100%;
    display: block;
    margin-left: 0px;
  }
  [class*="imgdwnlCV"] {
    width: 50%;
  }
  [class*="dwnlCV"] {
    width: 70%;
  }
}
