.whoiam-container {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 550px 550px;
  grid-row: auto auto;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  text-align: left;
  font-size: 20px;
  justify-content: center;
}

.icon-skill {
  float: left;
  margin-right: 20px;
  width: 85px;
}
.containText {
  border: 4px solid #ffc44e;
  border-radius: 15px;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="whoiam-container"] {
    display: block;
    padding-top: 20px;
    text-align: left;
    font-size: 15px;
    justify-content: center;
  }
  [class*="icon-skill"] {
    float: left;
    margin-right: 10px;
    width: 35px;
  }
  [class*="containText"] {
    border: 4px solid #ffc44e;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
  }
}
