.Header {
  background-color: whitesmoke;
  display: flex;
  color: white;
}

.Header-Container {
  display: flex;
  justify-content: center;
}

.EricMuriel {
  width: calc(100% / 3);
  text-align: center;
  padding: 10px;
  margin-left: 100px;
}
.ericTitle {
  font-size: 80px;
  color: black;
  border: black;
}

.Header-menu {
  text-decoration: none;
  color: white;
}
