.Header {
  background-color: #ffc44e;
  display: flex;
  color: white;
  padding-top: 50px;
}

.Header-Container {
  display: flex;
  justify-content: center;
}

.EricMuriel {
  text-align: center;

  margin-left: 100px;
}
.ericTitle {
  font-size: 80px;
  color: white;
  border: black;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}

.Header-menu {
  text-decoration: none;
  color: white;
}
